// 1. COLORS
$primary-color: #3f51b5;
$accent-color: #3f51b5;
$warn-color: #f44336;

$text-color: #2c2c2c;
$text-muted: #888;
$bg-light: #ffffff;
$bg-section: #f3f3f3;
$shadow-color: rgba(0, 0, 0, 0.08);
$text-white: #ffffff;
$bg-light-1: #ddf0f9;


// 2. SPACING
$spacing-lg: 2rem;
$spacing-md: 1rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// 3. FONTS
$font-heading: 'Playfair Display', serif;
$font-body: 'Inter', sans-serif;
$font-xl: 2.5rem;
$font-l: 1.8rem;
$font-md: 1.25rem;

// 4. BORDER
$border-radius: 16px;

// 5. BREAKPOINTS
$breakpoint-md: 768px;

$primary-gradient: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(54, 4, 78, 0.3));
$banner-height: 530px;
$banner-radius: 0 0 60px;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-body;
}

.container {
    padding-top: 30px;
    margin-top: 5px;
    max-width: 1280px;
    margin: auto;
}

.page-heading {
    font-size: $font-l;
    font-family: $font-heading;
    margin-top: 0px;
}